<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

rails g model Reservation numero_billet:integer numero_reservation:integer date_reservation:datetime heure_reservation:time cle_spectacle:integer spectacle:string cle_representation:integer representation:string date_representation:date heure_representation:time date_fin:date heure_fin:time prix:integer type_de_produit:string filiere:string nom:string prenom:string email:string adresse:string code_postal:integer pays:string age:integer sexe:string
